body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font: normal 26px Arial, sans-serif;
    background-color: #eaeaeaea;
}

.content {
    text-align: center;
}

.selector {
    font: normal 18px Arial, sans-serif;
    padding: 10px 25px;
    border-radius: 5px;
}

option{
    text-align: left;
    font: normal 18px Arial, sans-serif;
}
.submit-btn {
    font: normal 18px sans-serif;
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
}